.slider {
    display: flex;
}

.slider-arrow-left {
    width: 3vw;
    height: 18vw;
    background-color: rgba(87, 87, 87, 0.233);
    position: absolute;
    left: 0;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    color: white;
}

.slider-arrow-right {
    width: 3vw;
    height: 18vw;
    background-color: rgba(87, 87, 87, 0.233);
    position: absolute;
    right: 0;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    color: white;
}

.large-arrow {
    width: 3vw;
    height: 25vw;
}

.movie-imgs .poster {
    width: 21vw;
    height: 18vw;
    margin : 0px 2vw 0px 0px;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
    background-size: cover;
}

.movie-imgs .large-poster {
    width: 17vw;
    height: 25vw;
    margin : 0px 2vw 0px 0px;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
    background-size: cover;
}