.slider {
    display: flex;
    position: relative;
}

.slider-arrow-left {
    width: 3vw;
    height: 18vw;
    background-color: rgba(87, 87, 87, 0.233);
    position: absolute;
    left: 0;
    font-size: 30px;
    cursor: pointer;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    color: white;
}

.slider-arrow-right {
    width: 3vw;
    height: 18vw;
    background-color: rgba(87, 87, 87, 0.233);
    position: absolute;
    right: 0;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    color: white;
}

.large-arrow {
    width: 3vw;
    height: 25vw;
}

.movie-imgs {
    display: flex;
    position: relative;
    width: 100%;
    transition: .3s;
    transition: .3s;
    scroll-behavior: smooth;
}

.poster {
    width: 19vw;
    height: 18vw;
    margin : 0px 2vw 0px 0px;
    cursor: pointer;
    background-size: cover;
    transition: .2s all ease-in-out;
}
.large-poster {
    width: 19vw;
    height: 28vw;
    margin : 0px 1vw 0px 0px;
    cursor: pointer;
    background-size: cover;
}
.poster:hover {
    transform: scale(1.07);
}

.swiper-button-prev {
    color: white !important;
  }
  
  .swiper-button-next {
    color: white !important;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 1.3rem !important;
    font-weight: 900 !important;
  }