.slider {
    display: flex;
    position: relative;
}

.movie-imgs {
    display: flex;
    position: relative;
    width: 100%;
    transition: .3s;
    transition: .3s;
    scroll-behavior: smooth;
}

.poster {
    width: 19vw;
    height: 18vw;
    margin : 0px 2vw 0px 0px;
    cursor: pointer;
    background-size: cover;
    border-radius: 20px;
    transition: .2s all ease-in-out;
}
.large-poster {
    width: 19vw;
    height: 28vw;
    margin : 0px 1vw 0px 0px;
    cursor: pointer;
    background-size: cover;
}

.poster:hover {
    transform: scale(1.07);
}

.swiper-button-prev {
    color: white !important;
  }
  
  .swiper-button-next {
    color: white !important;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 1.3rem !important;
    font-weight: 900 !important;
  }